{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="Container">
        <div class="loginCard">
            <h1>Login</h1>
            <form action="login" method="post">
                <label for="">Username</label>
                <input type="text" name="username" id="username" placeholder="your_username">
                <label for="">Password</label>
                <input type="password" name="password" id="password">
                <button type="submit">Login</button>
            </form>
            <a href="signup" id="signup">Signup</a>
        </div>
    </div>


{% endblock %}